body {
	margin: 0;
	background-color: rgba(134, 179, 209, 0.15);
}

/* ------------------------- */
/* GLOBALS */
/* ------------------------- */

.bg-primary {
	background-color: #508cd2 !important;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8);
}

/* Footer */
footer .container-fluid {
	background-color: #474853;
	color: #aaa0a0;
}

/* Footer Container */
.container-fluid {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Navbar Bread meme */
.bread {
	color: #508cd2 !important;
}

.bread:hover {
	color: #007bff !important;
}

/* ------------------------- */
/* NAVBAR */
/* ------------------------- */
nav li a {
	font-size: 1.1rem !important;
	font-weight: bold;
}

nav li a i:hover {
	cursor: pointer;
}

/* ------------------------- */
/* HOME CAROUSEL AND FILTER */
/* ------------------------- */
.carousel-item {
	background-attachment: fixed !important;
	height: 95vh;
	max-height: 1100px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: -10px 10px 10px -10px rgba(129, 100, 100, 0.8);
}

header .container {
	position: absolute;
	z-index: 2;
	background-color: rgba(134, 179, 209, 0.952);
	width: 60% !important;
	left: 20%;
	right: 20%;
	top: 15vh;
	max-height: calc(82vh - 170px);
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

#range {
	height: 10px !important;
}

.noUi-handle {
	height: 20px !important;
	width: 10px !important;
	right: -9px !important;
}

.noUi-tooltip {
	display: none;
}

.filter-input {
	width: 40%;
	margin: auto;
	padding: 3px;
	margin: 5px;
	background: transparent;
	border: none;
	text-align: center;
}

/* ------------------------- */
/* HOME CONTENT */
/* ------------------------- */

.display-4 {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.lead {
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}

.house-display {
	width: 100%;
	height: auto;
	padding: 20px 20px 20px 20px;
	margin: 5px 0px 5px;
}

.house-display-img {
	width: 100%;
	border: solid black 3px;
}

.home-img-width {
	width: 100%;
	position: relative;
	border: solid black 3px;
}

/* Bottom left text */
.bottom-left {
	position: relative;
	bottom: 24px;
	background-color: black;
	opacity: 0.7;
	color: white;
}

.fas {
	margin-left: 5px !important;
	margin-right: 3px !important;
}

/* ------------------------- */
/* About Page */
/* ------------------------- */
#about-text {
	position: absolute;
	top: 25%;
	left: 5%;
	width: 55%;
	height: auto;
	color: white;
}

#about-text h2 {
	font-weight: 700;
	font-size: 3.998em;
	font-family: 'Source Sans Pro', Arial, Helvetica;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

#about-text p {
	font-weight: 700;
	font-size: 2.827em;
	line-height: 1.2em;
	font-family: 'Source Sans Pro', Arial, Helvetica;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

/* ------------------------- */
/* Contact Page */
/* ------------------------- */
/* About and Contact Page Parallax */
.header-parallax {
	background-attachment: fixed !important;
	height: 95vh;
	max-height: 1100px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contact-text {
	position: absolute;
	top: 18%;
	left: 20%;
	width: 60%;
	height: auto;
	color: white;
}

#contact-text h2 {
	font-weight: 700;
	font-size: 3.998em;
	font-family: 'Source Sans Pro', Arial, Helvetica;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

.input-shadow {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
}

/* Input Section Spacing */
.mb-3 {
	margin-bottom: 2rem !important;
}

/* Opacity Layer over parallax image */
.overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

/*
PROPERTIES PAGE
*/

.properties-filter {
	position: relative;
	z-index: 2;
	background-color: rgba(134, 179, 209, 0.952);
	border-radius: 10px;
	margin: auto;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
}

.properties-display {
	position: relative;
	z-index: 2;
	background-color: rgba(134, 179, 209, 0.952);
	border-radius: 10px;
	margin: auto;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
}

/*
PROPERTY DISPLAY PAGE
*/

.py-5 {
	margin-top: 90px !important;
}

.property-image {
	width: 100%;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

.property-info {
	width: 480px;
	height: 360px;
	float: right;
}

.title-info {
	width: 100%;
	height: 40px;
	background-color: #eee;
	float: left;
	color: #444;
	padding: 0.5rem;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.agent-thumbnail,
#company-thumbnail {
	width: 100%;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

#description {
	font-size: 16px;
	font-family: 'Open Sans', Arial, sans-serif !important;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
}

/* Bg Model */

.bg-model {
	display: none;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.3);
}

.bg-model .model-content {
	color: black;
	position: relative;
	width: 600px;
	max-width: 95vw;
	/* height: 200px; */
	background: white;
	top: 10%;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}

.model-content-inner::-webkit-scrollbar {
	width: 0 !important;
}

.model-content-inner {
	margin: 20px;
	height: 80vh;
	overflow-y: scroll;
}

.model-content-inner h1 {
	font-family: 'Open Sans';
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.9rem;
	text-decoration: none;
	color: black;
}

.model-content-inner .model-text {
	position: relative;
	width: 93%;
	margin: auto;
}

.model-content-inner .fa-times {
	z-index: 1;
	right: 0;
	stroke-width: 10;
	position: absolute;
	color: black;
	font-size: 35px;
	float: right;
	margin: 0 10px;
}
